/*
//colors
$white: #fff;
$black: #000;
$green: #4bbf00;
$red: #cc3609;

%btn-basic {
  font-size: 1.2rem;
  font-weight: bold;
  border: .1rem solid $black;
  border-radius: 1rem;
  padding: .5rem;
  cursor: pointer;
  height: 1.4rem;
  margin: 1rem;
  width: 11rem;
  position: relative;
  padding-left: 2.6rem;
  &:before {
    left: .4rem;
    background-color: rgba($white,.3);
    border: .1rem solid $black;
    border-radius: 50%;
    content: '';
    height: 1.8rem;
    width: 1.8rem;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    transition: background-color .4s;
  }
  &:hover:before {
    background-color: rgba($black,.3);
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

#inject, #save {
  @extend %btn-basic;
  background-color: $green;
  color: $black;
}

#delete {
  @extend %btn-basic;
  background-color: $red;
  color: $white;
}

.success {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100vw;
  height: 100vh;
  &:after {
    position: absolute;
    right: -40vw;
    top:-2rem;
    transform: rotate(25deg);
    content: '';
    width: 3rem;
    height: 130vh;
    opacity: .7;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,0) 100%);
    animation: shine 3s linear 2s infinite;
  }
  .active {
    display: block;
  }
}

.inject {
  background-color: $green;

}

@keyframes shine {
  0% {
    right: -40vw;
  }
  70%{
    right: 120vw;
  }
  100%{
    right: 120vw;
  }
}
*/

// global setings
$body-width: 26rem; // Body width
$font-family: "Open Sans", serif; // Body font

// colors
$black: #000;
$white: #fff;
$green: #4cbf00;
$red: #cd3609;

//colorize aria
$text-color: $black;
$good-btn-color: $green;
$danger-btn-color: $red;

// font styling
$btn-text: 1.6rem; // Button font size

/*----------- HTML Configs------------------------------------------*/
html {
  font-size: 10px;
}


body {
  font-family: $font-family;
  width: $body-width;
}

.btn {
  position: relative;
  height: 4rem;
  margin: 2rem;
  padding-left: 4.6rem;
  text-align: left;
  outline: none;
  /*------------ Button content config --------------------------------*/
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    color: $text-color;
    width: 28px;
    height: 28px;
    border: solid 2px $text-color;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(255, 255, 255, .3);

    /*------------ This is the color for the content on hover -------------*/
    &:hover {
      background-color: rgba(0, 0, 0, .3);
    }
  }
}

/*------------- Container Configs -----------------------------------*/
.btn__wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
}

/*------------ This is the config for the buttons --------------------*/
.btn{
  background-color: $good-btn-color;
  color: $text-color;
  font-size: $btn-text;
  font-weight: 700;
  border: solid 2px $text-color;
  border-radius: 15px;
  position: relative;
  line-height: 3rem;
  cursor: pointer;
}

/*------------ This is the color for the delete Saved Form button -------------*/
.btn__danger{
  background-color: $danger-btn-color;
  color: $white;
}



